/* Setup */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./img/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
}
.main-title,
.description,
.submit-button,
.trial-button {
  color: #fff;
}
.registration-form {
  width: 550px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  margin-top: 48px;
}
.bolder {
  color: hsl(246, 25%, 77%);
}
/* Desktop Style */
#container {
  display: flex;
  margin: auto;
  margin-top: 225px;
  width: 70%;
  flex-direction: row;
}
.trial-button {
  font-size: 18px;
  text-decoration: none;
  width: 550px;
  height: 50px;
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: hsl(248, 32%, 49%);
}
.alert-dialog {
  font-size: 12px;
  text-align: right;
  color: hsl(0, 100%, 74%);
  visibility: hidden;
}
.term-and-services {
  font-size: 12px;
}
/* Mobile Style */
